.my-margin {
  margin-right: 3rem;
  margin-left: 3rem;
}
.my-input {
  margin-top: 1.5rem;
  margin-right: 3rem;
  margin-left: 4rem;
}

/* margin boxes in classes is niet consistent */

p {
  font-size: 2rem;
}

.my-btn {
  background: blue;
  color: white;
  /* padding: 5px 10px; */
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  margin-left: 1rem;
}

.ms {
  font-size: 0.8em;
}

