body {
  margin-left: 1rem;
  /* border-style: solid; */
  /* border-color: red; */
  display: flex;
  justify-content: center;
}

.my-margin {
  margin-bottom: 3rem;
  /* border-style: solid;
  border-color: blue;  */
}

.my-input {
  margin-top: 1rem;
  margin-right: 0rem;
  margin-left: 0rem; 
}

/* To do: Margin boxes in classes is niet consistent */

h1 {
  display: flex;
  justify-content: center;
}
p {
  font-size: 4rem;
  /* display: flex; */
  /* justify-content: center; */
  /* margin-left: 0.5rem; */
    /* border-style: solid; */
  /* border-color: red;  */
}

.my-btn {
  background: cyan;
  color: white;
  /* padding: 5px 10px; */
  border: none;
  cursor: pointer;
  margin-left: 2.5rem;
  margin-right: 1.5rem;
}
/* .my-reset {
  padding-top: 2rem;
} */

/* .my-test {
  width: 0.5rem;
} */

.ms {
  padding-top: 0.8rem;
    /* border-style: solid; */
  /* border-color: blue;  */
  font-size: 0.8em;
}

/* Responsiveness */

/* Lower than 550px */

@media screen and (max-width: 550px) {
  body {
    margin: 1 auto;  
    width: 300px;
  }
  .my-input {
    margin-top: 1rem;
  }
  p {
    font-size: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    /* background-color: blue Bleu de Chanel; */
  }
  .ms {
  padding-top: 0.5rem;
    /* border-style: solid; */
  /* border-color: blue;  */
  font-size: 0.8em;
}
}